<!-- Fixed Sidebar Right -->
<%if(locals.session.loggedId){%>
<div class="fixed-sidebar right">
	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right" style="background-color: black;">

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="chat-users">
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar67-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar62-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>

				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar68-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>

				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar69-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>
				</li>

				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar70-sm.jpg" class="avatar">
						<span class="icon-status disconected"></span>
					</div>
				</li>
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar64-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar71-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar72-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>
				</li>
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar63-sm.jpg" class="avatar">
						<span class="icon-status status-invisible"></span>
					</div>
				</li>
				<li class="inline-items">
					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar72-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>
				</li>
				<li class="inline-items">

					<div class="author-thumb">
						<img alt="author" src="/public/img/avatar71-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
			</ul>
		</div>

		<div class="search-friend inline-items">
			<a href="#" class="js-sidebar-open">
				<svg class="olymp-menu-icon"><use xlink:href="/public/icons/icons.svg#olymp-menu-icon"></use></svg>
			</a>
		</div>

		<a href="34-YourAccount-ChatMessages.html" class="olympus-chat inline-items">
			<svg class="olymp-chat---messages-icon"><use xlink:href="/public/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
		</a>

	</div>

	<div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1" style="background-color: black;">

		<div class="mCustomScrollbar" data-mcs-theme="dark">

			<div class="ui-block-title ui-block-title-small">
				<a href="#" class="title">Online Buddys</a>
			</div>

			<ul class="chat-users">
				<div id="friends"></div>
			</ul>

			<div class="ui-block-title ui-block-title-small">
				<a href="#" class="title">My Parties</a>
				<div class="pull-right">
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" id="btn-create-party"><span class="fa fa-plus"></span></button>
				</div>
			</div>

			<ul class="chat-users">
				<div id="parties"></div>
			</ul>

		</div>

		<div class="search-friend inline-items">
			<div>
        <span></span>
			</div>

      <div class="pull-right" style="padding: 20px; background-color: black;">
        <a href="29-YourAccount-AccountSettings.html" class="settings">
  				<svg class="olymp-settings-icon"><use xlink:href="/public/icons/icons.svg#olymp-settings-icon"></use></svg>
  			</a>

  			<a href="#" class="js-sidebar-open">
  				<svg class="olymp-close-icon"><use xlink:href="/public/icons/icons.svg#olymp-close-icon"></use></svg>
  			</a>

      </div>


		</div>

		<a href="/chat/party/create" class="olympus-chat inline-items">


			<svg class="olymp-chat---messages-icon"><use xlink:href="/public/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
		</a>

	</div>
</div>

<!-- ... end Fixed Sidebar Right -->

<!-- Fixed Sidebar Right -->

<div class="fixed-sidebar right fixed-sidebar-responsive" style="background-color: black;">

	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right-responsive">

		<a href="#" class="olympus-chat inline-items js-chat-open">
			<svg class="olymp-chat---messages-icon"><use xlink:href="/public/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
		</a>

	</div>

</div>

<!-- ... end Fixed Sidebar Right -->

<!-- Party Invite Modal -->

<div class="modal fade" id="partyInviteModal" tabindex="-1" role="dialog" aria-labelledby="partyInviteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				<h5 class="modal-title" id="partyInviteModalLabel">Party Invitation</h5>
      </div>
			<form id="invitation-form" method="POST" action="/buddy/party/invite">
	      <div class="modal-body">
					<input type="hidden" name="user_id" id="user_id" value=""/>
          <div class="form-group">
            <label for="party_name" class="form-control-label">Select a Party :</label>
						<select name="party" id="party-options" class="form-control"></select>
          </div>

	      </div>
	      <div class="modal-footer">
	        <input type="submit" class="btn btn-success" value="Send" />
	      </div>
			</form>
    </div>
  </div>
</div>

<!-- ... end Party Invite Modal -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

	var socket = io.connect({transports: ['websocket'], upgrade: false});

	setTimeout(() => {
		socket.emit('updatePartyList', '<%= locals.session.loggedId %>')

		socket.emit('updateFriendList', '<%= locals.session.loggedId %>')
	}, 5000);



	socket.on('updateFriends', (result) => {
		$('#friends').empty();
		if(result != ''){
			$.each(result, (key, value) => {
				if(value.status == 1){
					var id=<%=locals.session.loggedId%>;
					if(id!=value.id){
					$('#friends').append(
						"<li class='inline-items'>" +
							"<div class='author-thumb'>" +
								"<img alt='author' src='/public/img/avatar68-sm.jpg' class='avatar'>" +
								"<span class='icon-status online'></span>" +
							"</div>" +

							"<div class='author-status'>" +
								"<a href='/profile/profileOf/" + value.id + "' class='h6 author-name'>" + value.username + "</a>" +
								"<span class='status'>ONLINE</span>" +
							"</div>" +

							"<div class='more'><svg id='btn-invite' data-toggle='modal' data-target='#partyInviteModal' data-id='" + value.id + "' data-original-title='ADD TO PARTY' class='olymp-add-to-conversation-icon'><use xlink:href='/public/icons/icons.svg#olymp-add-to-conversation-icon'></use></svg>" +
							"</div>" +
						"</li>"
					);
				}}else{
					$('#friends').append(
						"<li class='inline-items'>" +
							"<div class='author-thumb'>" +
								"<img alt='author' src='/public/img/avatar68-sm.jpg' class='avatar'>" +
								"<span class='icon-status disconected'></span>" +
							"</div>" +

							"<div class='author-status'>" +
								"<a href='/profile/profileOf/" + value.id + "' class='h6 author-name'>" + value.username + "</a>" +
								"<span class='status'>OFFLINE</span>" +
							"</div>" +

							"<div class='more'><svg id='btn-invite' data-toggle='modal' data-target='#partyInviteModal' data-id='" + value.id + "' data-original-title='ADD TO PARTY' class='olymp-add-to-conversation-icon'><use xlink:href='/public/icons/icons.svg#olymp-add-to-conversation-icon'></use></svg>" +
							"</div>" +
						"</li>"
					);
				}
			});
		}
		/*
		setTimeout(() => {
			socket.emit('updateFriendList', '<%= locals.session.loggedId %>');
		}, 3000);
		*/
	});

	socket.on('updateParties', (result) => {
		$('#parties').empty();
		if(result != ''){
			$.each(result, (key, value) => {
				$('#parties').append(
					"<li class='inline-items'>" +

						"<div class='author-status'>" +
							"<span class='h6 author-name'>" + value.party_name + "</span>"
							+ "<span class='status'>Movie Name (Series | S2E10)</span>"
					+ "</div>"
					+ "<div class='more'><svg class='olymp-three-dots-icon'><use xlink:href='/public/icons/icons.svg#olymp-three-dots-icon'></use></svg>" +

						"<ul class='more-icons'>" +
							"<li>" +
								"<a href='/chat/join/" + value.party_id + "'" + " target='_blank'><svg data-toggle='tooltip' data-placement='top' data-original-title='JOIN' class='olymp-comments-post-icon'><use xlink:href='/public/icons/icons.svg#olymp-register-icon'></use></svg></a>" +
							"</li>" +

							"<li>" +
								"<a href='/chat/leave/" + value.party_id + "'" + "><svg data-toggle='tooltip' data-placement='top' data-original-title='ClOSE' class='olymp-add-to-conversation-icon'><use xlink:href='/public/icons/icons.svg#olymp-login-icon'></use></svg></a>" +
							"</li>" +
						"</ul>" +

					"</div>" +

					"</li>"
				);
			});
		}else{
			$('#parties').append('No Parties Yet !');
		}
	});

	socket.on('createPartiesSelectBox', (result) => {
		$('#party-options').empty();
		if(result != ''){
			console.log('result e dhukse');
			$.each(result, (key, value) => {
				$('#party-options').append(
					$("<option></option>")
          .attr("value", value.party_id)
          .text(value.party_name)
				);
				console.log('append hoise');
			});
		}else{
			console.log('no result e dhukse');
			$('#party-options').append('No Parties Yet !');
		}
	});

	$('#partyInviteModal').on('show.bs.modal', (e) => {
	    var user_id = $(e.relatedTarget).data('id');
	    $(e.currentTarget).find('input[name="user_id"]').val(user_id);
	});

	$('#partyInviteModal').on('shown.bs.modal', (e) => {
		socket.emit('createPartiesSelections', '<%= locals.session.loggedId %>')
	});


</script>
<%}%>
