<!-- http://expressjs.com/en/api.html -->
<!--http://idangero.us/swiper/get-started/#.WA-pHaNR6Rs -->
<!--http://idangero.us/swiper/demos/ -->
<!--https://github.com/nolimits4web/Swiper/blob/master/demos/210-infinite-loop-with-slides-per-group.html -->
<!-- -->
<!-- -->


<%- contentFor('body') %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well well-lg">
        <div class="swiper-container" id="swiper-cover">
            <div class="swiper-wrapper">
              <%for(var i=0;i< covers.length;i++){%>
              <div class="swiper-slide">
                <center>
                <a href="/movie/<%= covers[i].movie_id %>">
                  <img src="/public/covers/<%= covers[i].movie_id %>.jpg" alt="Cover" style="width:750px;height:400px">
                </a>
              </center>
              </div>
              <%}%>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Top Chart</div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <%for(var i=0;i< 5;i++){%>
              <tr>
                <th><%=i+1%>.</th>
                <th><img src="/public/poster/<%= top_chart[i].movie_id %>.jpg" alt="Poster" style="height:50px"></th>
                <th><a href="/movie/<%= top_chart[i].movie_id %>"><%= top_chart[i].title %></a></th>
                <th><span class="glyphicon glyphicon-star" style="color:#FFDF00;"></span>&nbsp;<span class="badge"><%= top_chart[i].rating%></span></th>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      subscribe banner if not subscribed or guest
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Suggesions</div>
    <div class="panel-body">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% movies.forEach((movie) => { %>
                <div class="swiper-slide"><center><%=movie.title%>(<%=moment(movie.release_date).format('YYYY')%>)<br><a href="/movie/<%= movie.movie_id %>"><img src="/public/poster/<%= movie.movie_id %>.jpg" alt="Poster" style="height:300px"></a></center></div>
            <% }); %>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Latest Movies</div>
    <div class="panel-body">
      <marquee>Hello</marquee>
      <h4>With Ajax Jquery</h4>
      <div id="movies-list"></div>
      <br />
      <br />
      <h4>With normal db</h4>
      <ul>
        <% movies.forEach((movie) => { %>
          <li>
            <a href="/movie/<%= movie.movie_id %>"><span class="glyphicon glyphicon-film"></span> <%= movie.title %></a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Requests</div>
    <div class="panel-body">
      list of ur reqsts movies
    </div>
  </div>
  <h1>Hello from User Dashboard</h1>
  <h4>Logged In Username : <strong><%= locals.session.loggedUsername %></strong></h4>
  <h4>Logged In Username ID : <strong><%= locals.session.loggedId %></strong></h4>
  <h4>Logged In type : <strong><%= locals.session.type %></strong></h4>
  <h4>Logged In type : <strong><%= locals.session.subscribe %></strong></h4>
  <br />
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				<h5 class="modal-title" id="exampleModalLabel">Party Details</h5>
      </div>
			<form id="connect-form" method="POST" action="/chat/create">
	      <div class="modal-body">

	          <div class="form-group">
	            <label for="party_name" class="form-control-label">Party Name :</label>
	            <input type="text" class="form-control" id="party_name" name="party_name">
	          </div>
	          <div class="form-group">
	            <label for="party_id" class="form-control-label">Party ID :</label>
							<input type="text" class="form-control" id="party_id" name="party_id">
	          </div>

	      </div>
	      <div class="modal-footer">
	        <input type="submit" class="btn btn-success" value="Create" />
	      </div>
			</form>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

  function getMoviesList(){
    $('#movies-list').html('');
    $.getJSON( "http://localhost:3000/home/api/movies/list", function( data ) {
      var items = [];
      $.each( data, function(key) {
        items.push( "<li><a href='" + "/movie/" + data[key].movie_id + "'><span class='glyphicon glyphicon-film'></span> " + data[key].title + "</a></li>");
      });

      $( "<ul/>", {
        html: items.join( "" )
      }).appendTo( "#movies-list" );
    });
  }

//setInterval(getMoviesList, 100);


  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 4,
    spaceBetween: 0,
    grabCursor: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
  });

  var swiper = new Swiper('#swiper-cover', {
    spaceBetween: 0,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

</script>
<script>
	$('#btn-create-party').click((e) => {
		var partyid = Math.round((Math.random() * 1000000));
		$('#party_id').val('');
		$('#party_id').val(partyid);
	});
</script>
