<%- contentFor('body') %>
<div class="container">
  <div class="dropdown pull-right">
   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" <%if(reqsts.length==0){%>disabled<%}%>>Buddy Requests <span class="badge"><%=reqsts.length%></span>
   <span class="caret"></span></button>
   <ul class="dropdown-menu">
     <% for(var i=0;i< reqsts.length;i++) { %>
     <li><a href="/profile/profileOf/<%=reqsts[i].id%>"><%=reqsts[i].username%></a></li><%}%>

   </ul>
  </div>
  <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><center>My List</center></div>
          <div class="panel-body scroll">
            <table class="table table-striped">
              <tbody>
                <% for(var i=0;i< mylist.length;i++) { %>
                  <tr>
                    <td><%=i+1%>.</td>
                    <td><img src="/public/poster/<%= mylist[i].movie_id %>.jpg" alt="Poster" style="height:50px"></td>
                    <td><a href="/movie/<%= mylist[i].movie_id %>"><%= mylist[i].title %></a>
                    <p style="font-size:11px;"><%-JSON.parse(mylist[i].genre) %></p></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    <div id="view"   class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><center>Profile</center></div>
        <div class="panel-body">
          <table class="table">
          <tr>
          <th>Name:</th>
          <td><%= userdetails[0].username %></td>
          </tr>
          <tr>
          <th>Email:</th>
          <td><%= userdetails[0].email %></td>
          </tr>
          <tr>
          <th>Joined at:</th>
          <td></td>
          </tr>
          <tr>
          <th>Favourite Genre:</th>
          <td><%= userdetails[0].fav_genre %></td>
          </tr>
          <tr>
          <th>Favourite Actor:</th>
          <td><%= userdetails[0].fav_actor %></td>
          </tr>
          <tr>
          <th>Favourite Director:</th>
          <td><%= userdetails[0].fav_director %></td>
          </tr>
          <tr>
            <th></th>

            <td><div class="pull-right"><a href="#" class="btn btn-success" onclick="document.getElementById("view").style.display='none'">Edit</a></div></td>
          </tr>
</table>

        </div>
      </div>

    <div  class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><center>Profile</center></div>
    <div class="panel-body">
      <table class="table">
      <tr>
      <th>Name:</th>
      <td><%= userdetails[0].username %></td>
      </tr>
      <tr>
      <th>Email:</th>
      <td><%= userdetails[0].email %></td>
      </tr>
      <tr>
      <th>Joined at:</th>
      <td></td>
      </tr>
      <tr>
      <th>Favourite Genre:</th>
      <td><input type="text" name="f_genre" value="<%= userdetails[0].fav_genre %>"></td>
      </tr>
      <tr>
      <th>Favourite Actor:</th>
      <td><input type="text" name="f_actor" value="<%= userdetails[0].fav_actor %>"></td>
      </tr>
      <tr>
      <th>Favourite Director:</th>
      <td><input type="text" name="f_director" value="<%= userdetails[0].fav_director %>"></td>
      </tr>
      <tr>
        <th></th>
        <td><div class="pull-right"><a href="#" class="btn btn-success" onclick="myFunction("edit", "view")">Back</a></div></td>
      </tr>
    </table>
  </div>
  </div>
</div>









      <div class="panel panel-default">
        <div class="panel-heading"><center>History</center></div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Completed</th>
                <th>Watching</th>
              </tr>
            </thead>
            <tbody>
          <%for(var i=0;i< history.length;i++){%>
              <tr>
                <td><%=i+1%></td>
                <td><a href="/movie/<%= history[i].movie_id %>"><%=history[i].title%></a></td>
                <td><%=moment(history[i].watch_date).format('DD/MM/YYYY')%></td>
                <td><%=moment(history[i].watch_date).format('h:mm:ss a')%></td>
                <td><%=history[i].completed%></td>
                <td><%if(history[i].currently_watching){%><span class="glyphicon glyphicon-one-fine-dot" style="color:green"></span><%}%></td>
              </tr>
            <%}%>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><center>Watch List</center></div>
        <div class="panel-body scroll">
          <table class="table table-striped">
            <tbody>
              <% for(var i=0;i< watchlist.length;i++) { %>
                <tr>
                  <td><%=i+1%>.</td>
                  <td><img src="/public/poster/<%= watchlist[i].movie_id %>.jpg" alt="Poster" style="height:50px"></td>
                  <td><a href="/movie/<%= watchlist[i].movie_id %>"><%= watchlist[i].title %></a></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>
</div>
