<%- contentFor('body') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        <center>
        <video id="my-video" class="video-js" controls preload="auto" width="100%" data-setup="{}">
          <!-- Documentation - http://videojs.com/getting-started/#build-build
          second: https://github.com/videojs/video.js
          third: https://www.npmjs.com/package/video.js/
          forth: http://docs.videojs.com/
        -->
            <!--<source src="/public/videos/SpaceShooter-GamePlay.mp4" type='video/mp4'>-->
            <source src="/public/movies/<%=movie_id%>.mp4" type='video/mp4'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </center>
      </div>
    </div>
  </div>
</div>
<script>
var db;
var myPlayer = document.getElementById("my-video");
myPlayer.onended = function() {
    $.ajax({
      url: '/movie/play/complete',
      method: 'POST',
      data: {
          'movie_id': <%=movie_id%>,
          'user_id': <%=locals.session.loggedId%>,
          },
      success: function(flag) {
        if(!flag){
          alert('db ERROR');
        }
        else{
        myPlayer.pause();
        myPlayer.currentTime=0;
        }
      }
      });
};
myPlayer.onpause = function() {
   if(db==false){
     $.ajax({
       url: '/movie/play/newmovie',
       method: 'POST',
       data: {
           'movie_id': <%=movie_id%>,
           'user_id': <%=locals.session.loggedId%>,
           'time':myPlayer.currentTime,
           },
       success: function(flag) {
         if(!flag){
           alert('db ERROR');
         }
       }
       });
   }
   else if(db==true){
     $.ajax({
       url: '/movie/play/setmovie',
       method: 'POST',
       data: {
           'movie_id': <%=movie_id%>,
           'user_id': <%=locals.session.loggedId%>,
           'time':myPlayer.currentTime,
           },
       success: function(flag) {
         if(!flag){
           alert('db ERROR');
         }
       }
       });
   }
   else{
     alert('ERROR');
   }

};

myPlayer.onplay = function(){
      $.ajax({
        url: '/movie/play/getmovie',
        method: 'POST',
        data: {
            'movie_id': <%=movie_id%>,
            'user_id': <%=locals.session.loggedId%>,
            },
        success: function(flag) {
          if(flag==''){
            db=false;
          }
          else {
            db=true;
            myPlayer.currentTime=JSON.parse(flag).time;
            $.ajax({
              url: '/movie/play/watchmovie',
              method: 'POST',
              data: {
                  'movie_id': <%=movie_id%>,
                  'user_id': <%=locals.session.loggedId%>,
                  },
              success: function(flag) {
                if(!flag){

                  alert('DB ERROR');
                }
              }
              });
          }
        }
        });
};
window.onbeforeunload=function(){
  if(!myPlayer.paused){
  alert('reload');
  $.ajax({
    url: '/movie/play/setmovie',
    method: 'POST',
    data: {
        'movie_id': <%=movie_id%>,
        'user_id': <%=locals.session.loggedId%>,
        'time':myPlayer.currentTime,
        },
    success: function(flag) {
      if(!flag){
        alert('db ERROR');
      }
    }
    });
  }
};
window.onunload=function(){
  if(!myPlayer.paused){
  $.ajax({
    url: '/movie/play/setmovie',
    method: 'POST',
    data: {
        'movie_id': <%=movie_id%>,
        'user_id': <%=locals.session.loggedId%>,
        'time':myPlayer.currentTime,
        },
    success: function(flag) {
      if(!flag){
        alert('db ERROR');
      }
    }
    });
  }
};
</script>
